<div class="container">
    <h5>{{name}}</h5>
    <p>{{description}}</p>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="http://ycdb.snappr.co/screenshots2/e7262adc-79d4-4fd7-a64e-552569ef4c1a.jpg" onerror="if (this.src != 'assets/images/no-image.png') this.src = 'assets/images/no-image.png';">
                </div>
            </div>
            <hr>
            <h5>Statistics</h5>
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="card card-in-card">
                                <div class="card-body">
                                    <h6><i class="fa fa-globe" aria-hidden="true"></i> Alexa Rank</h6>
                                    <p class="mb-0">500,406</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-in-card">
                                <div class="card-body">
                                    <h6><i class="fa fa-sitemap" aria-hidden="true"></i> Domain Authority</h6>
                                    <p class="mb-0">54</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="card card-in-card">
                                <div class="card-body">
                                    <h6><i class="fas fa-database" aria-hidden="true"></i> Crunchbase Rank</h6>
                                    <p class="mb-0">987</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-in-card">
                                <div class="card-body">
                                    <h6><i class="fab fa-twitter" aria-hidden="true"></i> Twitter Followers</h6>
                                    <p class="mb-0">3,876</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card card-in-card">
                                <div class="card-body">
                                    <h6><i class="far fa-thumbs-up" aria-hidden="true"></i> Facebook Likes</h6>
                                    <p class="mb-0">11,694</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-in-card">
                                <div class="card-body">
                                    <h6><i class="far fa-newspaper" aria-hidden="true"></i> Recent Articles</h6>
                                    <p class="mb-0">131</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h5>Report an issue</h5>
            <div class="card">
                <div class="card-body">
                    <input id="issue-field" class="form-control mb-2" placeholder="Incorrect field">
                    <input id="issue-correct-value" class="form-control mb-2" placeholder="Correct value">
                    <button id="issue-submit" class="btn btn-primary">Report issue</button>
                    <div id="issue-alert" class="alert alert-success d-none mt-2" role="alert">
                        <strong>Thanks!</strong> The issue has been logged and we'll be looking into it ASAP
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <a class="btn btn-primary btn-block" href="https://www.snappr.co" target="_blank"><i class="fas fa-external-link-alt" aria-hidden='true'></i> Go to website</a>
            <hr>
            <h5>Links</h5>
            <div class="links-block">
                <a target="_blank"><i class="fab fa-angellist"></i></a>
                <a target="_blank"><i class="fas fa-database"></i></a>
                <a target="_blank"><i class="fab fa-twitter"></i></a>
                <a target="_blank"><i class="fab fa-facebook"></i></a>
                <a target="_blank"><i class="fab fa-linkedin"></i></a>
                <a target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <hr>
            <h5>Details</h5>
            <p class="lighter"><strong>Batch:</strong> {{batch}}</p>
            <p class="lighter"><strong>Founded:</strong> 2016</p>
            <p class="lighter"><strong>Location:</strong> {{location_city}}</span></p>
        </div>
    </div>
</div>



