body, table, .form-control, .btn {
	font-size: 0.875rem;	
}

body {
    margin-top: 70px;
}


a {
    text-decoration: none!important;
}
.navbar-brand, ul li a svg, h6 svg {
    color: #f06633;
}

.navbar-brand img {
    margin-top: -3px;
}

.nav-pills .nav-link:hover, .nav-pills .nav-link.active:hover {
	background-color:#fbfbfb;
	border: 1px solid #e8e8e8!important;
}

#table {
    border-collapse: collapse!important;
}


.table thead th {
	border:none;
}

.table td {
    border-top: 1px solid #e8e8e8;
}

#table_wrapper {
    padding: 0;
}

.badge {
    text-transform: uppercase;
}

/* Status badge color classes */

.Live {
    background-color: #ffc107;
}

.Exited {
    background-color: #28a745;
}

.Dead {
    background-color: #dc3545;
}